<div class='card'>
  <div class='card-body'>
      <form (ngSubmit)="onSubmit()" #addUserForm="ngForm">
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" required
              [(ngModel)]="model.firstname" name="firstname" #firstname="ngModel">
            <div [hidden]="firstname.valid || firstname.pristine"
              class="alert alert-danger">
              First Name is required
            </div>
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" required
              [(ngModel)]="model.lastname" name="lastname" #lastname="ngModel">
            <div [hidden]="lastname.valid || lastname.pristine"
              class="alert alert-danger">
              Last Name is required
            </div>
          </div>
          <div class="form-group">
              <label for="employeeid">Employee Id</label>
              <input type="text" class="form-control" id="employeeid" required
                [(ngModel)]="model.employeeid" name="employeeid" #employeeid="ngModel">
              <div [hidden]="employeeid.valid || employeeid.pristine"
                class="alert alert-danger">
                Employee Id is required
              </div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="(!addUserForm.form.valid)" style="width:100px;margin-right:5px">Add</button>
            <button type="button" style="width:100px;" class="btn btn-default" (click)="resetUser()">Reset</button>
      </form>
  </div>
  {{saveStatus}}
</div>
